.jumbotron{
  background-image: url(../cover.png);
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
  opacity:0;
}

.nav-item{
  margin-right: 50px;
  margin-left: 5px;
}
.nav-item:hover{
  background-color: gray;
  transition: 0.5s;
}
.nav{
  background-color: #0001;
}
.btn{
  background-color: gray;
}
.btn:hover{
  background-color: white;
  transition: 0.5s;
}
#main{
  background-image: url(../cover.png);
  background-size: cover;
  height: 645px;
    transition: 0.5s;
  opacity:0;
}
.injumbo{
  padding-top: 50px;
  padding-left: 50px;
}